@model RESTExchangeRate.Models.ExchangeRateOutput

@{
    ViewBag.Title = "ExchangeRate";
}

<h3 class="text-muted">ExchangeRate</h3>
<br />
<br />

<table class="table table-bordered">
    <tr class="bg-info">
        <th>Base Currency</th>
        <th>Target Currency</th>
        <th>Minimum</th>
        <th>Maximum</th>
        <th>Average</th>
    </tr>
    <tr>
        <td>@Model.BaseCurrency</td>
        <td>@Model.TargetCurrency</td>
        <td>@Model.Minimum</td>
        <td>@Model.Maximum</td>
        <td>@Model.Average</td>
    </tr>
</table>